<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowSalesOrder</title>
</head>

<body>
    <h1>Sales Order</h1>
 
<a href="/logout">log out</a><br>
<a href="/index">index</a><br>
{% if not_login %}
<a href="/login">login</a>
    {{ 'first please!' }}
{% endif %}
    Best Sellers!
    <table border="1">
        <tr>
            <th>Book_NO</th>
            <th>Title</th>
            <th>Sales</th>
        </tr>
        {% for line in booksales %}
        <tr>
            <td>{{line.Book_NO}}</td>
            <td>{{line.Book_NO__title}}</td>
            <td>{{line.sales_sum}}</td>
        </tr>
        {% endfor %}
        </table>
    </body>
    </html>
</body>
</html>